/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgba(202, 202, 202, 0.5);
  color: darkblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  font-size: 4em;
}
